<table class="table " ><!-- table-bordered -->
    <thead >
      <tr >
        <th style="background-color: #000c23;" class="text-light" scope="col">ID</th>
        <th style="background-color: #000c23;" class="text-light" scope="col">Título</th>
        <th style="background-color: #000c23;" class="text-light" scope="col">Completado</th>
        <th style="background-color: #000c23;" class="text-light" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="background-color: #000c23;" class="text-light" scope="row">1</th>
        <td style="background-color: #000c23;" class="text-light">Mark</td>
        <td style="background-color: #000c23;" class="text-light">Otto</td>
        <td style="background-color: #000c23;" class="text-light">mdo</td>
      </tr>
    </tbody>
</table>
